@import "../../../utilities/variables";

.featuredRoot {
  width: 100%;
  margin-top: 50 * $desk + vw;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  // border: solid 1px black;
  .featuredTitle {
    position: absolute;
    text-transform: uppercase;
    font-weight: bolder;
    // width: 100%;
    // margin-left: 120 * $desk + vw;
    // margin-left: 120 * $desk + vw;
    left: 50 * $desk + vw;
    // bottom: 470 * $desk + vw;
    font-size: 25 * $desk + vw;
  }
  .featuredContentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    .featuredContentRow {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
