$desk: 100 / 1920;

.button4{
    width: 200* $desk + vw;
    height: 50* $desk + vw;
    border-radius: 6 * $desk + vw;
    border-color: black;
    outline-style: solid;
    outline-color: #d5d3da;
    outline-width: 1px;
    box-shadow: 0 3* $desk + vw 6* $desk + vw 0 rgba(0, 0, 0, 0.16);
    background-color: #0e0030;


    .btn4txt{
        font-family: BebasNeue;
        font-size: 44* $desk + vw;
        font-weight: lighter;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        text-decoration: none !important;
        text-align: center; 
    }
}


.button4:hover{
    background-color: #0e0030;
    box-shadow: 0 3* $desk + vw 6* $desk + vw 0 rgba(0, 0, 0, 0.16);

  }
  .btn4txt:hover{
    color:#ffffff
  }