$desk: 100 / 1920;

.size-main-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 890 * $desk + vw;
  height: 235 * $desk + vw;
  overflow: hidden;
  margin-top: 47 * $desk + vw;

  .s-txt {
    width: 123 * $desk + vw;
    height: 26 * $desk + vw;
    font-family: Montserrat-Regular;
    font-size: 20 * $desk + vw;
    opacity: 0.66;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #0e0030;
    white-space: nowrap;
    margin-top: 0 * $desk + vw;
  }

  .round-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 890 * $desk + vw;
    height: 72 * $desk + vw;
    overflow: hidden;
    margin-top: 36 * $desk + vw;

    .round1 {
      width: 69 * $desk + vw;
      height: 69 * $desk + vw;
      border: solid 1 * $desk + vw #707070;
      border-radius: 100 * $desk + vw;
      background-color: #ffffff;

      .r-txt1 {
        width: 41 * $desk + vw;
        height: 28 * $desk + vw;
        font-family: Montserrat-Regular;
        font-size: 21 * $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #0e0030;
        white-space: nowrap;
        margin-top: 20 * $desk + vw;
        margin-left: 27 * $desk + vw;
      }
    }

    .round2 {
      width: 69 * $desk + vw;
      height: 69 * $desk + vw;
      border: solid 1 * $desk + vw #707070;
      border-radius: 100 * $desk + vw;
      background-color: #ffffff;
      margin-left: 15 * $desk + vw;

      .r-txt2 {
        width: 41 * $desk + vw;
        height: 28 * $desk + vw;
        font-family: Montserrat-Regular;
        font-size: 21 * $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #0e0030;
        white-space: nowrap;
        margin-top: 20 * $desk + vw;
        margin-left: 25 * $desk + vw;
      }

      .r-txt3 {
        width: 41 * $desk + vw;
        height: 28 * $desk + vw;
        font-family: Montserrat-Regular;
        font-size: 21 * $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #0e0030;
        white-space: nowrap;
        margin-top: 20 * $desk + vw;
        margin-left: 27 * $desk + vw;
      }

      .r-txt4 {
        width: 41 * $desk + vw;
        height: 28 * $desk + vw;
        font-family: Montserrat-Regular;
        font-size: 21 * $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #0e0030;
        white-space: nowrap;
        margin-top: 20 * $desk + vw;
        margin-left: 22 * $desk + vw;
      }

      .r-txt5 {
        width: 41 * $desk + vw;
        height: 28 * $desk + vw;
        font-family: Montserrat-Regular;
        font-size: 21 * $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #0e0030;
        white-space: nowrap;
        margin-top: 20 * $desk + vw;
        margin-left: 15 * $desk + vw;
      }
    }
  }

  .s-btn {
    width: 200 * $desk + vw;
    height: 50 * $desk + vw;
    outline-style: solid;
    outline-color: #d5d3da;
    outline-width: 1px;
    background-color: #ffffff;
    margin-left: 100 * $desk + vw;
    box-shadow: 0 3 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.16);
    margin-top: 30 * $desk + vw;

    .s-btn-txt {
      font-family: BebasNeue;
      font-size: 30 * $desk + vw;
      font-weight: lighter;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      text-align: left;
      color: #0e0030;
      text-decoration: none !important;

      text-align: center;
    }
  }

  .s-btn:hover {
    background-color: #0e0030;
    box-shadow: 0 3 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.16);
  }
  .s-btn-txt:hover {
    color: #ffffff;
  }
}
