@import "../../../utilities/variables";

.root2 {
  width: 100%;
  height: auto;
  border-radius: 5 * $desk + vw;
  box-shadow: 10 * $desk + vw 10 * $desk + vw 30 * $desk + vw 0
    rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 100 * $desk + vw;
  margin-bottom: 50 * $desk + vw;

  .header {
    margin-top: 5 * $desk + vw;
    padding-right: 20 * $desk + vw;
    padding-left: 20 * $desk + vw;
  }

  .inventory-txt-1 {
    text-transform: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    width: 150 * $desk + vw;
    padding-left: 80 * $desk + vw;
  }

  .inventory-txt-2 {
    text-transform: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    width: 250 * $desk + vw;
  }

  .inventory-txt-3 {
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    width: 250 * $desk + vw;
  }

  .inventory-txt-4 {
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    width: 200 * $desk + vw;
  }

  .inventory-txt-5 {
    font-size: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    width: 150 * $desk + vw;
    padding-right: 100 * $desk + vw;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    margin-left: 19 * $desk + vw;
    margin-right: 19 * $desk + vw;
    flex-direction: row;
    height: 60 * $desk + vw;
    margin-top: 35 * $desk + vw;
    color: #646464;
    font-size: 22 * $desk + vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    white-space: nowrap;
    text-transform: capitalize;
  }
}
