$desk: 100/1920;
$mob: 100 / 414;

.content-cont {
  display: flex;
  flex-direction: row;

  .inner-container {
    width: 1594 * $desk + vw;
    height: 418 * $desk + vw;
    display: flex;
    flex-direction: row;
    margin-top: 17 * $desk + vw;
    margin-left: 250 * $desk + vw;
  }
}

// @media only screen and (max-width: 800px) {
//   .content-cont {
//     display: flex;
//     flex-direction: row;

//     .inner-container {
//       .img1 {
//       }
//       .img2 {
//       }
//     }
//   }
// }
