$desk: 100/ 1920;

.InvoiceRectangle{
    width: 1360 * $desk + vw;
    height: 680 * $desk + vw;
    // height: 100%;
    border-radius: 7 * $desk + vw;;
    box-shadow: 10 * $desk + vw  10 * $desk + vw  30 * $desk + vw  0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    align-items: inline;
    margin-top: 100 * $desk + vw;
    margin-bottom: 50 * $desk + vw;
    display: flex;
    flex-direction: column;
    // position: fixed;
    z-index: 1000;

    .headerContainer{
        display: flex;
    }

    .heading{
        display: flex;
        width: 1258 * $desk + vw;
        height: 50 * $desk + vw;
        justify-content: space-evenly;
        margin-right: 50 * $desk + vw;
        float: left;

        .h3{
            width: 124 * $desk + vw;
            height: 26 * $desk + vw;
            font-family: RobotoSlab;
            font-size: 20 * $desk + vw;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.3;
            // letter-spacing: normal;
            // text-align: left;
            color:#030303;
            // /padding-left: 52 * $desk + vw ;
            padding-top: 6 * $desk + vw;
            // /padding-right: 63 * $desk + vw ;
            white-space: nowrap; 
        }
    }
    .lineContainer{
        width: 1280 * $desk + vw;
        height: 580 * $desk + vw;
        // height: 100%;
        display: flex;
        flex-direction: column;
        // flex-wrap:wrap;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        // position: relative;
        padding-left: 30 * $desk +vw;
        margin-top: 0 * $desk +vw;
    }

    .tt{
        width: 97* $desk + vw;
        height: 43* $desk + vw;
        font-family: BebasNeue;
        font-size: 36* $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #0e0030;
        padding-left: 20 * $desk + vw;
        padding-top: 20 * $desk + vw;
        white-space: nowrap;
    }
    .t{
        width: 106 * $desk + vw;
        height: 34 * $desk + vw;
        font-family: RobotoSlab;
        font-size: 25 * $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        color: #646464;
        float: right;
        padding-right: 10 * $desk + vw ;
    }
    // line{
    // width: 410px;
    // height: 154px;
    // border-radius: 7px;
    // box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.16);
    // background-color: var(--white);
    // padding-left: 34.5 * $desk + vw;
    // padding-right: 26.5 * $desk + vw;
    // padding-bottom: 64.5 * $desk + vw;
    // padding-top: 89.5 * $desk + vw;
    // }
    .hr { 
        display: block;
        margin-top: 0.5 * $desk + vw;
        margin-bottom: 20 * $desk + vw;
        margin-left: 20.5 * $desk + vw;
        margin-right: 26.5 * $desk + vw;
        border-style: inset;
        border-width: 1px;
      }
    
    .img{
    width: 37.5 * $desk +vw;
    height: 40 * $desk + vw;
    padding-top: 15 * $desk + vw;
    padding-left: 65 * $desk + vw;
    }
}