@import "../../../utilities/variables";

.dropdown-root-div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 2 * $desk + vw;
  // background-color: red;
  background-color: #fbfbfb;
  font-size: 20 * $desk + vw;
  margin-bottom: 10 * $desk + vw;
  padding-left: 100 * $desk + vw;
  padding-right: 20 * $desk + vw;
  padding-top: 30 * $desk + vw;
  padding-bottom: 30 * $desk + vw;
  width: inherit;

  .dropdown-content-div {
    display: flex;
    flex-direction: row;
    .text {
      margin-top: 9 * $desk + vw;
      width: 230 * $desk + vw;
      color: #7e7e7e;
      white-space: nowrap;
      font-weight: 400;
      text-transform: uppercase;
      @media only screen and (max-device-width: $other) {
        font-size: 25 * $desk + vw;
        margin-top: 15 * $desk + vw;
        // width: 300 * $desk + vw;
      }
    }

    .wrapper {
      box-shadow: 0 3 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.16);
      width: 840 * $desk + vw;
      position: relative;

      @media only screen and (max-device-width: $other) {
        width: 1200 * $desk + vw;
      }

      .error {
        border: 1px solid red;
      }

      .inputIcon {
        display: flex;
        align-items: flex-start;
        position: relative;
        width: 100%;
        .dropdownBox {
          width: 100%;
          height: 50 * $desk + vw;
          border: 5px black solid;
          border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
          border-bottom-style: hidden;
          padding-left: 20 * $desk + vw;
          padding-right: 20 * $desk + vw;
          background-color: #ffffff;
          font-family: inherit;
          font-size: 16 * $desk + vw;
          @media only screen and (max-device-width: $other) {
            height: 75 * $desk + vw;
            font-size: 23 * $desk + vw;
          }
        }

        .inputBox::placeholder {
          color: #777777;
        }

        .icon {
          right: 20 * $desk + vw;
          top: 16 * $desk + vw;
          position: absolute;
          height: fit-content;
          width: fit-content;
          cursor: pointer;
          @media only screen and (max-device-width: $other) {
            top: 27 * $desk + vw;
          }
          img {
            position: absolute;
            height: 20 * $desk + vw;
            position: relative;
          }
        }
      }

      .none {
        display: none;
      }

      .optionContainer {
        width: 100%;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #ffffff;
        color: #7e7e7e;
        z-index: 50;

        .option {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding-top: 20 * $desk + vw;
          padding-bottom: 20 * $desk + vw;
        }

        .option:hover {
          background-color: rgba(14, 0, 48, 1);
          color: white;
        }
      }
    }
  }

  .dropdown-error-div {
    width: 100%;
    margin-top: 10 * $desk + vw;
    .dropdown-error-text {
      width: auto;
      margin-left: 240 * $desk + vw;
      text-transform: capitalize;
      font-size: 15 * $desk + vw;
      color: red;
    }
  }
}
