$desk: 100 / 1920;

.iline{
    // margin-left: 19 * $desk + vw;
    margin-bottom: 19 * $desk + vw;
    width: 1280 * $desk + vw;
    height: 100 * $desk + vw;;
    // border-radius: 7 * $desk + vw;;
    //  background-color: rgba(238, 238, 238, 0.24);
    background-color: rgba(173, 170, 170, 0.24);;
    // align-items: inline;
    // margin-top: 100 * $desk + vw;
    // margin-bottom: 50 * $desk + vw;
    display: flex;
    justify-content: space-evenly;

    .text{
        width: 124 * $desk + vw;
        height: 26 * $desk + vw;
        font-family: RobotoSlab;
        font-size: 20 * $desk + vw;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        margin-right: 39 * $desk + vw;
        // text-align: left;
        color:#444343;
        // padding-left: 52 * $desk + vw ;
        padding-top: 16 * $desk + vw;
        // padding-right: 63 * $desk + vw ;
        white-space: nowrap;
        float: left;
    }
    
}