$desk: 100 / 1920;
$mob: 100 / 414;

.img-container {
  width: 1918 * $desk + vw;
  height: 560 * $desk + vw;
  box-shadow: 0 7 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  .img-txt {
    width: 520 * $desk + vw;
    height: 67 * $desk + vw;
    object-fit: contain;
    font-family: Montserrat-Regular;
    font-size: 40 * $desk + vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #0e0030;
    margin-top: 37 * $desk + vw;
    margin-left: 50 * $desk + vw;
  }

  .content-cont {
    display: flex;
    flex-direction: row;

    .inner-container {
      width: 1594 * $desk + vw;
      height: 418 * $desk + vw;
      display: flex;
      flex-direction: row;
      margin-top: 17 * $desk + vw;
      margin-left: 250 * $desk + vw;

      .img1 {
        width: 300 * $desk + vw;
        height: 418 * $desk + vw;
        object-fit: contain;
        // margin-left: 77 * $desk + vw;
      }
      .img2 {
        width: 300 * $desk + vw;
        height: 418 * $desk + vw;
        object-fit: contain;
        margin-left: 77 * $desk + vw;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .img-container {
    width: 400 * $mob + vw;
    height: 390 * $mob + vw;
    .img-txt {
      width: 300 * $mob + vw;
      height: 23 * $mob + vw;
      font-family: Montserrat-regular;
      font-size: 20 * $mob + vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #0e0030;
      margin-left: 150 * $mob + vw;
      margin-top: 20 * $mob + vw;
    }
  }
}
