* {
  margin: 0px;
  padding: 0px;
}

.Mainn {
  height: auto;
  width: 100%;
  border-radius: 0.26042vw;
  -webkit-box-shadow: 0.52083vw 0.52083vw 1.5625vw 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0.52083vw 0.52083vw 1.5625vw 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.Mainn .header {
  margin-top: 0.26042vw;
  padding-right: 1.04167vw;
  padding-left: 1.04167vw;
}

.Mainn .sale-text-1 {
  font-size: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-style: inherit;
  line-height: inherit;
  text-align: inherit;
  white-space: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.8125vw;
}

.Mainn .sale-text-2 {
  font-size: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-style: inherit;
  line-height: inherit;
  text-align: inherit;
  white-space: inherit;
  width: 10.41667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Mainn .sale-text-3 {
  font-size: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-style: inherit;
  line-height: inherit;
  text-align: inherit;
  white-space: inherit;
  width: 10.41667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Mainn .sale-text-4 {
  font-size: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-style: inherit;
  line-height: inherit;
  text-align: inherit;
  white-space: inherit;
  width: 7.8125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Mainn .sale-5 {
  font-size: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-style: inherit;
  line-height: inherit;
  text-align: inherit;
  white-space: inherit;
  width: 7.8125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Mainn .heading {
  padding-left: 1.04167vw;
  padding-right: 1.04167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 3.125vw;
  margin-top: 1.82292vw;
  color: #646464;
  font-size: 1.14583vw;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  text-align: center;
  white-space: nowrap;
}
/*# sourceMappingURL=DissRect.css.map */