$desk: 100/ 1920;
.pr-textIconContainer2{
    display: flex;
    height: 70 * $desk+vw;
    width: 960 * $desk + vw;
    align-items: baseline;
    // margin-top: 50 * $desk + vw;
    // margin-top: 20 * $desk + vw;
    margin-bottom: 20 * $desk + vw;
    margin-left: 85 * $desk + vw ;
    // flex-direction: column;
    // padding-bottom: 80 * $desk + vw;
    flex-wrap:wrap;
    // flex-direction: column;
    .txt{
        width: 140 * $desk + vw;
        height: 60 * $desk + vw;
        font-family: BebasNeue;
        font-size: 50 * $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #7e7e7e;
        // padding-left: 114 * $desk + vw ;
        margin-top: 0 * $desk +vw;
        white-space: nowrap;
    }
    
    .img{
        padding-left: 15 * $desk +vw;
        width: 40 * $desk +vw;
        height: 40 * $desk + vw;
        padding-top: 10 * $desk + vw;
    }
}

