$desk: 100 / 1920;
.av-Rectangle {
  width: 1360 * $desk + vw;
  height: 880 * $desk + vw;
  border-radius: 7 * $desk + vw;
  box-shadow: 10 * $desk + vw 10 * $desk + vw 30 * $desk + vw 0
    rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  align-items: inline;
  margin-left: 85 * $desk + vw;
  margin-bottom: 50 * $desk + vw;
  margin-top: 70 * $desk + vw;
  display: flex;
  flex-direction: column;

  .av-headerContainer {
    display: flex;
    flex-wrap: wrap;

    .tt {
      width: 97 * $desk + vw;
      height: 43 * $desk + vw;
      font-family: BebasNeue;
      font-size: 36 * $desk + vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.19;
      letter-spacing: normal;
      color: #0e0030;
      padding-left: 20 * $desk + vw;
      padding-top: 20 * $desk + vw;
      white-space: nowrap;
    }

    .image {
      width: 40 * $desk + vw;
      height: 40 * $desk + vw;
      margin-top: 17 * $desk + vw;
      margin-left: 130 * $desk + vw;
    }
  }
  .av-lineContainer {
    width: 1280 * $desk + vw;
    height: 780 * $desk + vw;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // flex-wrap:wrap;
    // overflow-x: scroll;
    position: relative;
    padding-left: 50 * $desk + vw;
  }
  // line{
  // width: 410px;
  // height: 154px;
  // border-radius: 7px;
  // box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.16);
  // background-color: var(--white);
  // padding-left: 34.5 * $desk + vw;
  // padding-right: 26.5 * $desk + vw;
  // padding-bottom: 64.5 * $desk + vw;
  // padding-top: 89.5 * $desk + vw;
  // }
  .hr {
    display: block;
    margin-top: 5 * $desk + vw;
    margin-bottom: 20 * $desk + vw;
    margin-left: 20.5 * $desk + vw;
    margin-right: 26.5 * $desk + vw;
    border-style: inset;
    border-width: 1px;
  }

  .custom-drop-container {
    margin-bottom: 18 * $desk + vw;
    width: 1280 * $desk + vw;
    height: 92 * $desk + vw;
    display: flex;
    background-color: rgba(238, 238, 238, 0.24);
    z-index: 120;
    .text {
      width: 124 * $desk + vw;
      height: 26 * $desk + vw;
      font-family: RobotoSlab;
      font-size: 20 * $desk + vw;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #7e7e7e;
      padding-left: 52 * $desk + vw;
      padding-top: 30 * $desk + vw;
      // padding-right: 63 * $desk + vw ;
      white-space: nowrap;
      float: left;
    }

    .option:hover {
      background-color: #aeacac;
      color: white;
    }
  }
  .custom-drop-container2 {
    margin-bottom: 18 * $desk + vw;
    width: 1280 * $desk + vw;
    height: 92 * $desk + vw;
    display: flex;
    background-color: rgba(238, 238, 238, 0.24);
    z-index: 100;
    .text {
      width: 124 * $desk + vw;
      height: 26 * $desk + vw;
      font-family: RobotoSlab;
      font-size: 20 * $desk + vw;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #7e7e7e;
      padding-left: 52 * $desk + vw;
      padding-top: 30 * $desk + vw;
      // padding-right: 63 * $desk + vw ;
      white-space: nowrap;
      float: left;
    }
  }

  .dropdown {
    display: table;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    // top: 3vw;background-color: white;
    background-color: white;
    font-family: Segoe UI;
    font-size: 20 * $desk + vw;
    width: 44.58333vw;
    height: 2.96875vw;
    margin-left: 5.20833vw;
    margin-top: 0.78125vw;
    box-shadow: 0 3 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.16);
    .dropdown-content {
      // display: none;
      border: 1 * $desk + vw solid gray;
      background-color: white;
      height: 250 * $desk + vw;
      font-size: 22 * $desk + vw;
      z-index: 999;
      overflow-y: auto;
      // margin-top: 0.5vw;
      font-family: RobotoSlab;
      font-size: 16 * $desk + vw;
      color: #aeacac;
    }

    .option {
      // text-align: center;
      padding: 8 * $desk + vw;
      cursor: pointer;
    }
    .normal-option .option:hover,
    .dropdown-content .option:hover {
      background-color: #aeacac;
      color: white;
    }
    .dropdown-header {
      position: relative;
      padding: 18 * $desk + vw ;
      cursor: pointer;
      font-family: RobotoSlab;
      font-size: 16 * $desk + vw;
      color: #7e7e7e;
      // border-bottom: 2 * $desk + vw solid gray;
    }
  }
  .downArrow {
    position: absolute;
    right: 14 * $desk + vw;
    width: 40 * $desk + vw;
    height: 19 * $desk + vw;
  }
}

.dropdown-content::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
}

.dropdown-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #aeacac;
  outline: 0.05208vw solid #aeacac;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
}
