$desk: 100 / 1920;

.favline{
    margin-left: 20 * $desk + vw;
    margin-bottom: 7 * $desk + vw;
    width: 1258 * $desk + vw;
    height: 100 * $desk + vw;
    display: flex;
    background-color: rgba(238, 238, 238, 0.24);
    .text{
        width: 124 * $desk + vw;
        height: 26 * $desk + vw;
        font-family: RobotoSlab;
        font-size: 20 * $desk + vw;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color:#7e7e7e;
        padding-left: 52 * $desk + vw ;
        padding-top: 30 * $desk + vw;
        // padding-right: 63 * $desk + vw ;
        white-space: nowrap;
        float: left;
    }

    .inputv{
        width: 886 * $desk + vw;
        height: 87 * $desk + vw;;
        margin-left: 100 * $desk + vw;

        .addBox2{
            width: 856 * $desk + vw;
            height: 57 * $desk + vw;;
            //border-radius: 12 * $desk + vw;;
            box-shadow: 0  3 * $desk + vw  6 * $desk + vw  0 rgba(0, 0, 0, 0.16);
            //background-color: #ffffff;
            margin-top: 15 * $desk + vw;
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
        }
        
        .img{
            margin-top: 25 * $desk + vw;
            margin-left:-40 * $desk + vw;
            width: 35.2 * $desk + vw;
            height: 35.2 * $desk + vw;
            float: right;
            position: absolute;

            // -ms-transform: skewY(-50deg); /* IE 9 */
            //   transform: skewY(-50deg);
        }
    }

    .nav{
        text-decoration: none;
    }

    ::placeholder {
        color: #7e7e7e;
        font-family: RobotoSlab;
    }
    
}