$desk: 100 / 1920;
.i-flex-container {
  width: 1920 * $desk + vw;
  height: 900 * $desk + vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;

  .p-contentContainer {
    position: relative;
    height: 1000 * $desk + vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 388 * $desk + vw;
    margin-top: 92 * $desk + vw;
    margin-bottom: 75 * $desk + vw;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }
  .p-innerContainer {
    width: 1530 * $desk + vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
  }
  .p-headerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    float: left;
    height: 60 * $desk + vw;

    .nav {
      text-decoration: none;
    }
  }
}
