.none {
  display: none;
}

.rooty {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 0.10417vw;
  background-color: #fbfbfb;
  font-size: 1.04167vw;
  margin-bottom: 0.52083vw;
  padding-left: 5.20833vw;
  padding-right: 1.04167vw;
  padding-top: 1.5625vw;
  padding-bottom: 1.5625vw;
}

.rooty .inputIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.rooty .inputIcon .text {
  margin-top: 0.46875vw;
  width: 11.97917vw;
  color: #7e7e7e;
  white-space: nowrap;
  font-weight: 400;
}

@media only screen and (max-device-width: 1023px) {
  .rooty .inputIcon .text {
    font-size: 1.66667vw;
  }
}

.rooty .inputIcon .datepicker-input-image {
  position: relative;
  width: 41.66667vw;
  height: 2.60417vw;
}

@media only screen and (max-device-width: 1023px) {
  .rooty .inputIcon .datepicker-input-image {
    width: 62.5vw;
    height: 4.16667vw;
  }
}

.rooty .inputIcon .datepicker-input-image .dateTimeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 5px black solid;
  -webkit-box-shadow: 0 0.15625vw 0.3125vw 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.15625vw 0.3125vw 0 rgba(0, 0, 0, 0.16);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding-left: 1.04167vw;
  padding-right: 1.04167vw;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 0.83333vw;
}

@media only screen and (max-device-width: 1023px) {
  .rooty .inputIcon .datepicker-input-image .dateTimeBox {
    padding-top: 1.04167vw;
    font-size: 1.30208vw;
  }
}

.rooty .inputIcon .datepicker-input-image .inputBox::-webkit-input-placeholder {
  color: #777777;
}

.rooty .inputIcon .datepicker-input-image .inputBox:-ms-input-placeholder {
  color: #777777;
}

.rooty .inputIcon .datepicker-input-image .inputBox::-ms-input-placeholder {
  color: #777777;
}

.rooty .inputIcon .datepicker-input-image .inputBox::placeholder {
  color: #777777;
}

.rooty .inputIcon .datepicker-input-image .icon {
  right: 1.04167vw;
  top: 0.26042vw;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.rooty .inputIcon .datepicker-input-image .icon img {
  height: 2.08333vw;
}

@media only screen and (max-device-width: 1023px) {
  .rooty .inputIcon .datepicker-input-image .icon img {
    height: 2.60417vw;
  }
}

@media only screen and (max-device-width: 1023px) {
  .rooty .inputIcon .datepicker-input-image .icon {
    top: 0.78125vw;
  }
}

.rooty .datepicker-root {
  width: 38.59375vw;
  height: auto;
  margin-top: 0.52083vw;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-weight: bold;
  color: #7e7e7e;
  margin-left: 11.97917vw;
  padding-left: 2.60417vw;
  padding-right: 2.60417vw;
  padding-top: 1.04167vw;
  padding-bottom: 1.04167vw;
}

@media only screen and (max-device-width: 1023px) {
  .rooty .datepicker-root {
    width: 62.5vw;
  }
}

.rooty .datepicker-root .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.26042vw;
}

.rooty .datepicker-root .header .left {
  font-weight: inherit;
}

.rooty .datepicker-root .header .right {
  width: 6.77083vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rooty .datepicker-root .header .right img {
  cursor: pointer;
  border: solid 0.05208vw #707070;
  border-radius: 100vw;
  width: 2.60417vw;
  height: 2.60417vw;
}

.rooty .datepicker-root .divider hr {
  border: solid 0.05208vw #707070;
}

.rooty .datepicker-root .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.08333vw;
}

.rooty .datepicker-root .content .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1.04167vw;
}

.rooty .datepicker-root .content .rows .item {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.60417vw;
  height: 2.60417vw;
}

.rooty .datepicker-root .content .rows .selectable {
  cursor: pointer;
}

.rooty .datepicker-root .content .rows .selectable:hover {
  border: solid 0.05208vw #707070;
  border-radius: 100vw;
}

.rooty .datepicker-root .content .rows .inactive {
  color: #bdbdbd;
}
/*# sourceMappingURL=DatePicker.css.map */