$desk: 100 / 1920;
$mob: 100 / 414;

.col-container {
  width: 1918 * $desk + vw;
  height: 667 * $desk + vw;
  box-shadow: 0 7 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;

  .equal {
    width: 600 * $desk + vw;
    height: 600 * $desk + vw;
  }

  .coll-txt {
    width: 342 * $desk + vw;
    height: 50 * $desk + vw;
    object-fit: contain;
    font-family: Montserrat-Regular;
    font-size: 40 * $desk + vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #0e0030;
    margin-top: 235 * $desk + vw;
    margin-left: 100 * $desk + vw;
  }

  .img1 {
    width: 500 * $desk + vw;
    height: 667 * $desk + vw;
    object-fit: contain;
  }

  .img2 {
    width: 500 * $desk + vw;
    height: 667 * $desk + vw;
    object-fit: contain;
    margin-left: 50 * $desk + vw;
  }
}

@media only screen and (max-width: 800px) {
  .col-container {
    display: none;
  }
}
