$desk: 100/ 1920;
* {
  margin: 0px;
  padding: 0px;
}

.ssdfsdf {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: RobotoSlab;
  padding-right: 20 * $desk + vw;
  padding-left: 20 * $desk + vw;
  margin-bottom: 50 * $desk + vw;
  .header {
    margin-top: 5 * $desk + vw;
  }

  .content {
    .input {
      margin-top: 20 * $desk + vw;

      .variantContainer {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        border-radius: 2 * $desk + vw;
        // background-color: red;
        background-color: #fbfbfb;
        font-family: RobotoSlab;
        font-size: 20 * $desk + vw;
        margin-bottom: 10 * $desk + vw;
        padding-left: 100 * $desk + vw;
        padding-right: 20 * $desk + vw;
        padding-top: 30 * $desk + vw;
        padding-bottom: 30 * $desk + vw;

        .text {
          color: #7e7e7e;
          font-weight: 400;
          width: 270 * $desk + vw;
          margin-top: 9 * $desk + vw;
        }

        .variantContent {
          width: 100%;
          .inputIcon {
            box-shadow: 0 3 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.16);
            display: flex;
            align-items: flex-start;
            width: 100%;
            .inputBox {
              width: 100%;
              height: 50 * $desk + vw;
              border: 5px black solid;
              border-top-style: hidden;
              border-right-style: hidden;
              border-left-style: hidden;
              border-bottom-style: hidden;
              padding-left: 20 * $desk + vw;
              padding-right: 20 * $desk + vw;
              background-color: #ffffff;
              font-family: inherit;
              font-size: 16 * $desk + vw;
            }

            .inputBox::placeholder {
              color: #777777;
            }

            .icon {
              right: 30 * $desk + vw;
              top: 35 * $desk + vw;
              position: absolute;
              height: fit-content;
              width: fit-content;
              cursor: pointer;
              img {
                position: absolute;
                height: 40 * $desk + vw;
                position: relative;
              }
            }
          }
        }
      }
    }

    .saveDiv {
      cursor: pointer;
      height: 86 * $desk + vw;
      font-weight: 100;
      border-radius: 5 * $desk + vw;
      box-shadow: 0 3 * $desk + vw 6 * $desk + vw 0 rgba(0, 0, 0, 0.16);
      margin-bottom: 20 * $desk + vw;
      margin-top: 20 * $desk + vw;
      display: flex;
      justify-content: center;
      align-items: center;
      //   margin-left: 20 * $desk + vw;
      //   margin-right: 20 * $desk + vw;
      color: #0e0030;
      font-size: 20 * $desk + vw;
      .txtsave {
        font-weight: 300;
      }
    }
    // .saveDiv:hover {
    //   color: #ffffff;
    //   background-color: #0e0030;
    //   border: thin hidden #0e0030;
    //   box-shadow: none;
    // }
  }
}
