@import "../../../utilities/variables";

.rootfds {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  .img-container {
    width: 1182 * $desk + vw;
    height: 938 * $desk + vw;
    img {
      width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: 480px) {
    .img-container {
      display: none;
    }
    justify-content: center;
    .right-container {
      width: 100vw !important;
      margin-left: 200 * $desk + vw;
      margin-right: 200 * $desk + vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .error {
        margin-top: 35 * $desk + vw !important;
        color: red;
      }

      .form-container {
        width: 100% !important;
        display: flex;
        margin-top: 1400 * $desk + vw;
        flex-direction: column;
        justify-content: center;

        .bottom-container {
          // display: flex;
          // flex-direction: row-reverse;
          // margin-top: 90 * $desk + vw;
          .submit-button-container {
            margin-left: 0px !important;
            width: 500 * $desk + vw !important;
            height: 100 * $desk + vw !important;
            padding-top: 20 * $desk + vw;
            padding-bottom: 20 * $desk + vw;
            h3 {
              font-size: 90 * $desk + vw !important;
            }
          }
        }
      }
    }
  }

  .right-container {
    width: 738 * $desk + vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .error {
      margin-top: 30 * $desk + vw;
      color: red;
    }

    .form-container {
      width: 450 * $desk + vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .hr {
        justify-content: center;
      }
      .bottom-container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 90 * $desk + vw;
        .submit-button-container {
          margin-left: 23 * $desk + vw;
          width: 155 * $desk + vw;
          height: 52 * $desk + vw;
          background-color: #2029a0;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          h3 {
            color: white;
          }
        }
      }
    }
  }
}
