.rootfds {
  background-color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.rootfds .img-container {
  width: 61.5625vw;
  height: 48.85417vw;
}

.rootfds .img-container img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .rootfds {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rootfds .img-container {
    display: none;
  }
  .rootfds .right-container {
    width: 100vw !important;
    margin-left: 10.41667vw;
    margin-right: 10.41667vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rootfds .right-container .error {
    margin-top: 1.82292vw !important;
    color: red;
  }
  .rootfds .right-container .form-container {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 72.91667vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rootfds .right-container .form-container .bottom-container .submit-button-container {
    margin-left: 0px !important;
    width: 26.04167vw !important;
    height: 5.20833vw !important;
    padding-top: 1.04167vw;
    padding-bottom: 1.04167vw;
  }
  .rootfds .right-container .form-container .bottom-container .submit-button-container h3 {
    font-size: 4.6875vw !important;
  }
}

.rootfds .right-container {
  width: 38.4375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rootfds .right-container .error {
  margin-top: 1.5625vw;
  color: red;
}

.rootfds .right-container .form-container {
  width: 23.4375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rootfds .right-container .form-container .hr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rootfds .right-container .form-container .bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 4.6875vw;
}

.rootfds .right-container .form-container .bottom-container .submit-button-container {
  margin-left: 1.19792vw;
  width: 8.07292vw;
  height: 2.70833vw;
  background-color: #2029a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.rootfds .right-container .form-container .bottom-container .submit-button-container h3 {
  color: white;
}
/*# sourceMappingURL=ForgotPassword.css.map */