$desk: 100 / 1920;

.SM-Line{
    margin-left: 20 * $desk + vw;
    margin-bottom: 7 * $desk + vw;
    width: 1258 * $desk + vw;
    height: 100 * $desk + vw;
    background-color: rgba(238, 238, 238, 0.24);
    display: flex;
    .SM-text{
        width: 124 * $desk + vw;
        height: 26 * $desk + vw;
        font-family: RobotoSlab;
        font-size: 20 * $desk + vw;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color:#7e7e7e;
        margin-left: 52 * $desk + vw ;
        margin-top: 35 * $desk + vw;
        // padding-right: 63 * $desk + vw ;
        white-space: nowrap;
        float: left;
    }
    .SM-addBox2{
        width: 856 * $desk + vw;
        height: 57 * $desk + vw;;
        //border-radius: 12 * $desk + vw;;
        box-shadow: 0  3 * $desk + vw  6 * $desk + vw  0 rgba(0, 0, 0, 0.16);
        //background-color: #ffffff;
        margin-top: 17 * $desk + vw;
        margin-left: 100 * $desk + vw;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
    } 
    
}