$desk: 100 / 1920;

.root {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  .img-container {
    width: 1182 * $desk + vw;
    height: 938 * $desk + vw;
    img {
      width: 100%;
      height: auto;
    }
  }

  .right-container {
    width: 738 * $desk + vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .error {
      margin-top: 30 * $desk + vw;
      color: red;
    }

    .form-container {
      width: 450 * $desk + vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .bottom-container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 90 * $desk + vw;
        .submit-button-container {
          margin-left: 23 * $desk + vw;
          width: 155 * $desk + vw;
          height: 52 * $desk + vw;
          background-color: #2029a0;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          h3 {
            color: white;
          }
        }
      }
    }
  }
}
