$desk: 100 / 1920;

.dpage1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20 * $desk + vw;

  .pagination-txt {
    width: 10 * $desk + vw;
    height: 30 * $desk + vw;
    font-size: 23 * $desk + vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #060606;
    margin-top: 0 * $desk + vw;
    margin-left: 5 * $desk + vw;
    margin-right: 5 * $desk + vw;
  }

  img {
    height: 20 * $desk + vw;
  }
}
