$desk: 100 / 1920;
.Box3{
    width: 386 * $desk + vw;
    height: 74 * $desk + vw;;
    border-radius: 12 * $desk + vw;;
    box-shadow: 0  3 * $desk + vw  6 * $desk + vw  0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-top: 30 * $desk + vw;
    margin-left:0  * $desk + vw;
    text-align: center;

    .tt{
        width: 97* $desk + vw;
        height: 43* $desk + vw;
        font-family: BebasNeue;
        font-size: 36* $desk + vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: #0e0030;
        margin-left: 120 * $desk + vw;
        white-space: nowrap;
        padding-top: 15 * $desk + vw;
        text-transform: capitalize;
        @media only screen and (max-width: $other) {
              .tt {
                margin-top: 25 * $desk + vw;
                font-size: 40 * $desk + vw;
              }
            }
          
    }
}