.Addresscont {
  width: 62.03125vw;
  height: 15.88542vw;
  -webkit-box-shadow: 0 0.15625vw 0.3125vw 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.15625vw 0.3125vw 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 2.08333vw;
  margin-left: 2.08333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Addresscont .datacont {
  width: 17.1875vw;
  height: 16.14583vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Addresscont .datacont .namecont {
  width: 17.1875vw;
  height: 1.82292vw;
  margin-top: 0.78125vw;
  margin-left: 2.60417vw;
}

.Addresscont .datacont .namecont .name {
  width: 13.33333vw;
  height: 1.82292vw;
  font-family: Montserrat-Regular;
  font-size: 1.19792vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-left: 1.04167vw;
  white-space: nowrap;
}

.Addresscont .datacont .addresscont {
  width: 17.1875vw;
  height: 7.29167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.78125vw;
  margin-left: 2.60417vw;
}

.Addresscont .datacont .addresscont .address {
  width: 13.33333vw;
  height: 1.82292vw;
  font-family: Montserrat-Regular;
  font-size: 1.19792vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-left: 1.04167vw;
  margin-top: 0vw;
  white-space: nowrap;
}

.Addresscont .datacont .numcont {
  width: 17.1875vw;
  height: 1.82292vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.78125vw;
  margin-left: 2.60417vw;
}

.Addresscont .datacont .numcont .num1 {
  width: 5.20833vw;
  height: 1.82292vw;
  font-family: Montserrat-Regular;
  font-size: 1.19792vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-left: 1.04167vw;
  margin-top: -0.26042vw;
  white-space: nowrap;
}

.Addresscont .datacont .numcont .num2 {
  width: 5.20833vw;
  height: 1.82292vw;
  font-family: Montserrat-Regular;
  font-size: 1.19792vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-left: 1.04167vw;
  white-space: nowrap;
}

.Addresscont .hr {
  display: block;
  margin-top: 0vw;
  margin-bottom: 0vw;
  margin-left: 0vw;
  margin-right: 0vw;
  border-style: inset;
  border-width: 1px;
  border-color: #dad8d8;
}

.Addresscont .container3 {
  width: 62.03125vw;
  height: 3.28125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0vw;
  margin-top: 0vw;
}

.Addresscont .container3 .txt1 {
  width: 2.5vw;
  height: 1.45833vw;
  font-family: Montserrat-Regular;
  font-size: 1.04167vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #0e0030;
  margin-right: 18.90625vw;
  margin-left: 10.05208vw;
  margin-top: 0.52083vw;
  white-space: nowrap;
}

.Addresscont .container3 .txt2 {
  width: 2.5vw;
  height: 1.45833vw;
  font-family: Montserrat-Regular;
  font-size: 1.04167vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #0e0030;
  margin-top: 0.52083vw;
  margin-left: 13.02083vw;
  white-space: nowrap;
}

.Addresscont .container3 .hr {
  display: block;
  margin-top: 0vw;
  margin-bottom: 0vw;
  margin-left: 0vw;
  margin-right: 0vw;
  border-style: inset;
  border-width: 0.05208vw;
  border-color: #dad8d8;
}

.Addresscont .container3 .nav {
  text-decoration: none !important;
}

.Addresscont .container4 {
  display: none;
}

@media screen and (max-width: 480px) {
  .Addresscont {
    width: 80%;
    height: 31.51042vw;
    -webkit-box-shadow: 0.52083vw 0.78125vw 0.83333vw 0.52083vw rgba(0, 0, 0, 0.16);
            box-shadow: 0.52083vw 0.78125vw 0.83333vw 0.52083vw rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-top: 2.08333vw;
    margin-left: 9.375vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Addresscont .datacont {
    width: 100%;
    height: 26.5625vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Addresscont .datacont .namecont {
    width: 80%;
    height: 3.125vw;
    margin-top: 0.78125vw;
    margin-left: 2.60417vw;
  }
  .Addresscont .datacont .namecont .name {
    width: 13.33333vw;
    height: 3.125vw;
    font-family: Montserrat-Regular;
    font-size: 3.125vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-left: 1.04167vw;
    white-space: nowrap;
  }
  .Addresscont .datacont .addresscont {
    width: 80%;
    height: 11.97917vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2.60417vw;
    margin-left: 2.60417vw;
  }
  .Addresscont .datacont .addresscont .address {
    width: 13.33333vw;
    height: 2.60417vw;
    font-family: Montserrat-Regular;
    font-size: 2.60417vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-left: 1.04167vw;
    margin-top: 0vw;
    white-space: nowrap;
  }
  .Addresscont .datacont .numcont {
    width: 80%;
    height: 2.60417vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2.08333vw;
    margin-left: 2.60417vw;
  }
  .Addresscont .datacont .numcont .num1 {
    width: 10.41667vw;
    height: 2.60417vw;
    font-family: Montserrat-Regular;
    font-size: 2.60417vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-left: 1.04167vw;
    margin-top: -0.26042vw;
    white-space: nowrap;
  }
  .Addresscont .hr {
    display: block;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-left: 0vw;
    margin-right: 0vw;
    border-style: inset;
    border-width: 1px;
    border-color: #dad8d8;
  }
  .Addresscont .container3 {
    display: none;
  }
  .Addresscont .container4 {
    width: 100%;
    height: 3.28125vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0vw;
    margin-top: 0vw;
  }
  .Addresscont .container4 .txt1 {
    width: 2.5vw;
    height: 2.5vw;
    font-family: Montserrat-Regular;
    font-size: 2.08333vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #0e0030;
    margin-right: 18.90625vw;
    margin-left: 17.1875vw;
    margin-top: 0.52083vw;
    white-space: nowrap;
  }
  .Addresscont .container4 .txt2 {
    width: 2.5vw;
    height: 2.5vw;
    font-family: Montserrat-Regular;
    font-size: 2.08333vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #0e0030;
    margin-top: 0.52083vw;
    margin-left: 10.41667vw;
    white-space: nowrap;
  }
  .Addresscont .container4 .hr {
    display: block;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-left: 0vw;
    margin-right: 0vw;
    border-style: inset;
    border-width: 0.05208vw;
    border-color: #dad8d8;
  }
  .Addresscont .container4 .nav {
    text-decoration: none !important;
  }
}
/*# sourceMappingURL=SaveAddressCont.css.map */