@import "../../../utilities/variables";

.cate-root {
  height: auto;
  width: 100%;
  border-radius: 5 * $desk + vw;
  box-shadow: 10 * $desk + vw 10 * $desk + vw 30 * $desk + vw 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 15 * $desk + vw;
  

  .tt {
    width: 175 * $desk + vw;
    height: 43 * $desk + vw;
    font-size: 36 * $desk + vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #0e0030;
    padding-left: 18 * $desk + vw;
    margin-top: 16 * $desk + vw;
    white-space: nowrap;
  }

  .image {
    width: 37.1 * $desk + vw;
    height: 49 * $desk + vw;
    margin-top: 10 * $desk + vw;
    margin-left: 18 * $desk + vw;
  }

  .header {
    margin-top: 5 * $desk + vw;
    padding-right: 20 * $desk + vw;
    padding-left: 20 * $desk + vw;
  }

  .category-text-1 {
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    text-transform: inherit;
    // margin-left: 40 * $desk + vw;
    width: 200 * $desk + vw;

    @media only screen and (max-width: $other) {
      // margin-left: 60 * $desk + vw;
      width: 100 * $desk + vw;
    }
  }

  .category-text-2 {
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    text-transform: inherit;
    // margin-left: 30 * $desk + vw;
    width: 180 * $desk + vw;

    @media only screen and (max-width: $other) {
      // margin-left: 60 * $desk + vw;
      width: 300 * $desk + vw;
    }
  }

  .category-text-3 {
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    text-transform: inherit;
    // margin-left: 30 * $desk + vw;
    width: 270 * $desk + vw;

    @media only screen and (max-width: $other) {
      // margin-left: 60 * $desk + vw;
      width: 280 * $desk + vw;
    }
  }

  .category-text-4 {
    font-size: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-style: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    text-transform: inherit;
    // margin-left: 30 * $desk + vw;
    width: 100 * $desk + vw;

    @media only screen and (max-width: $other) {
      // margin-left: 60 * $desk + vw;
      width: 100 * $desk + vw;
    }
  }

  .headingg {
    margin-left: 19 * $desk + vw;
    margin-right: 19 * $desk + vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60 * $desk + vw;
    margin-top: 35 * $desk + vw;
    color: #646464;
    font-size: 22 * $desk + vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    white-space: wrap;
    text-transform: capitalize;

    @media only screen and (max-width: $other) {
      font-size: 42 * $desk + vw;
    }
  }
}
