@import "../../../utilities/variables";

.roott {
  margin-left: 19 * $desk + vw;
  margin-right: 19 * $desk + vw;
  margin-bottom: 22 * $desk + vw;
  // width: 100%;
  height: 100 * $desk + vw;
  background-color: rgba(238, 238, 238, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 22 * $desk + vw;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  color: #7e7e7e;

  .more-icon {
    // margin-left: 1 * $desk + vw;
    width: 100 * $desk + vw;
    display: flex;
    align-self: center;
    cursor: pointer;
    img {
      width: 50 * $desk + vw;
      height: 50 * $desk + vw;
    }
  }
}
